.box{
    width: 40%;
    padding: 20px;
    margin: 3rem auto;
}
header{
    background-color: blueviolet !important;
}

header a{
    text-decoration: none !important;
    color: white !important;
    transition: .3s !important;
}
header a:hover{
    color: black !important;
}

.log{
    text-align: center;
    color: blueviolet;
    margin-top: 100px;
}
.box button{
    background-color: blueviolet !important;
    transition: .3s;
    margin-top: 5px;
}
.box button:hover{
    background-color: white !important;
    color: black;
    border-color: black;
}

#span{
    color: white;
}